$break-mobile: 525px;
$break-narrow: 650px;
$break-normal: 1030px;
$break-wide: 1300px;

@mixin mobile {
    @media (max-width: $break-mobile) {
        @content;
    }
}

@mixin narrow {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin normal {
    @media (max-width: $break-normal) {
        @content;
    }
}

@mixin wide {
    @media (max-width: $break-wide) {
        @content;
    }
}
